<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Chandima Samaraweera AS-03 client</display-name>

   <servlet>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>ca.bcit.comp4655.webapp.employee.presentation.controller.EmployeeServlet</servlet-class>
		<init-param>
		    <param-name>action</param-name> 
		    <param-value>service.getEmployees</param-value> 
		  </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/empApp</url-pattern>
	</servlet-mapping>
    
	<jsp-config>
		<taglib>
	        <taglib-uri>http://displaytag.sourceforge.net/</taglib-uri>
	        <taglib-location>/WEB-INF/lib/displaytag-1.2.jar</taglib-location>
	    </taglib>
	 </jsp-config>   
  
  
</web-app>